<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <table *ngIf="userDetails" class = "usertable" border="1"> 
        <thead>
            <tr>
                <th colspan="2" width = "200px">User Profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{userDetails.local.fullname}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userDetails.local.email}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn--pill btn--orange" type="button" (click)="onLogout()" value="Logout"/>
                </td>
            </tr>
            <td colspan="2">
                <input class="btn btn--pill btn--orange" type="button" value="Enter Index"/>
             </td>
        </tbody>
    </table>
</div>
