<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <h1>QQ Music for Reviews</h1>
                    <br><br>
                    
                    <table>
                        <cdk-virtual-scroll-viewport itemSize="20" style="height:300px;width:100%;">
                        <thead>
                            <tr style="width:100%">
                                <th class="column1">title</th>
                                <th class="column2">fullname</th>
                                <th class="column3">text</th>
                                <th class="column4">rating</th>
                                <th class="column5">time</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <tr *cdkVirtualFor = "let review of reviewService.reviews">
                                <td class="tbody column1">{{review.title}}</td>
                                <td class="tbody column2">{{review.fullname}}</td>
                                <td class="tbody column3">{{review.text}}</td>
                                <td class="tbody column4">{{review.rating}}</td>
                                <td class="tbody column5">{{review.time}}</td>
                            </tr>
                       
                        </tbody>
                    </cdk-virtual-scroll-viewport>
                    </table>
                    
                    <div class="returndetail" routerLink="/home" routerLinkActive="active">
						<button>Return</button>
					</div>
            </div>
        </div>
    </div>