<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Song Name</th>
								<th class="column2">Singer</th>
								<th class="column3">Score</th>
								<th class="column4">Operations</th>
							</tr>
						</thead>
						<tbody>
								<tr *ngFor="let song of songService.songs">
									<td class="column1">{{song.songname}}</td>
									<td class="column2">{{song.singer}}</td>
									<td class="column3">{{song.score}}</td>
									<td class="column4"></td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>